/ProjetoCG_ronaldo/nbproject/private/
/ProjetoCG_ronaldo/build/
/ProjetoCG_ronaldo/dist/
/ProjetoCg_ronaldo/nbproject/private/
/ProjetoCg_ronaldo/dist/
/ProjetoCg_ronaldo/build/
/JavaApplication7/nbproject/private/
/JavaApplication8/nbproject/private/
/AlgAnalitic/nbproject/private/
/AlgAnalitic/build/
/AlgAnalitic/dist/
/UnificaAlgoritmos/target/
